@import url("stylereset.css");


@font-face {
    font-family: "Yekan";
    src: url("../font/yekan/Yekan.ttf") format("truetype"),
        url("../font/yekan/Yekan.eot") format("eot"),
        url("../font/yekan/Yekan.woff") format("woff"),
        url("../font/yekan/Yekan.woff2") format("woff2");
}



body {
    font-family: "Yekan";
    direction: rtl;
}


/* Header */

header {
    width: 100%;
}



header nav {
    width: 100%;
    height: 70px;
}

header .container {
    width: 85%;
    margin: auto;
}

header nav .nav-bar-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .nav-responsive {
    width: 30%;
    height: 50vh;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 10;
    border-radius: 2px;
    right: -30%;
}

header .nav-responsive ul {
    text-align: center;

}

header .nav-responsive ul li {
    margin: 10% 0%;
}

header .nav-responsive ul li a {
    text-decoration: none;
    font-size: 20px;
    color: #fff;

}

header nav .nav-right {
    display: flex;
}

header nav .nav-right .hambur-icon {
    font-size: 25px;
    display: none;
}

header nav .nav-right ul {
    display: flex;
}

header nav .nav-right ul li {
    margin: 0 10px;
}

header nav .nav-right ul li a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 500;
}

header nav .nav-left {
    display: flex;
    align-items: center;
}

header nav .nav-left ul {
    display: flex;
    margin-left: 30px;
}

header nav .nav-left ul li {
    margin: 0 6px;
}

header nav .nav-left ul li a {
    text-decoration: none;
    color: black;
}

header nav .nav-left ul li a svg {
    font-size: 16px;
}

header nav .nav-left img {
    width: 60px;
}

header .slide {
    width: 100%;
    height: 100vh;
    background-image: url("../images/slide.jpg");
    background-size: cover;
    background-position: right;
}

header .slide .container {
    width: 85%;
    height: 100%;
    position: relative;
}



header .slider {
    width: 100%;
    height: 100%;
}


header .slider .slider-description {
    position: absolute;
    left: 0%;
    top: 33%;
}

.slider-description h1 {
    font-size: 100px;
    font-weight: 600;
    margin-right: 6vw;
    color: #505050;
}

.slider-description h2 {
    font-size: 45px;
    font-weight: 600;
    color: #2d2d2d;
}

.slider span {
    position: absolute;
    left: 30%;
    top: 30%;
}

.slider span {
    font-size: 115px;
    font-weight: bolder;
    color: #e2e2e2
}

/* Hanging Lamp */


#hanging-lamp {
    width: 100%;
    height: 125vh;
}

#hanging-lamp .container {
    width: 100%;
    height: 100%;

}


#hanging-lamp .hanging-top {
    width: 100%;
    height: 30%;
    display: flex;
}

#hanging-lamp .hanging-top .hang-right {
    display: flex;
    height: 100%;
    width: 65%;
}

#hanging-lamp .hanging-top .hang-left {
    display: flex;
    text-align: center;
    background-color: #c56211;
    width: 35%;
    height: 100%;
    align-items: center;
    border-radius: 5px;
}

#hanging-lamp .hanging-top .hang-left .hang-des-left {
    margin: auto;
}

#hanging-lamp .hanging-top .hang-right .hang-des-right {
    position: relative;
    width: 60%;
    height: 100%;
}


#hanging-lamp .hanging-top .hang-right .hang-des-right h3 {
    font-size: 40px;
    margin: 10px 10px;
    margin-right: 15px;
}

#hanging-lamp .hanging-top .hang-right .hang-des-right p {
    font-size: 20px;
    margin: 10px 10px;
    margin-right: 15px;
}

#hanging-lamp .hanging-top .hang-right .hang-des-right a {
    text-decoration: none;
    color: #fff;
    padding: 10px;
    background-color: #c56211;
    position: absolute;
    top: 60%;
    left: 5%;
    border-radius: 5px;
    margin-top: 1%;
}

#hanging-lamp .hanging-top .hang-right .hang-pic-right {
    width: 40%;
    height: 100%;
}

#hanging-lamp .hanging-top .hang-right .hang-pic-right img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

#hanging-lamp .hanging-top .hang-left h3 {
    margin: 10px 10px;
    font-size: 40px;
}

#hanging-lamp .hanging-top .hang-left p {
    margin: 10px 10px;
    font-size: 40px;
}


.hanging-down {
    width: 100%;
    height: 70%;
    display: flex;
}


.hanging-down .img-right-down {
    width: 65%;
    height: 100%;
}


.hanging-down .img-left-down {
    width: 35%;
    height: 100%;
}

.hanging-down .img-right-down img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;

}

.hanging-down .img-left-down ul {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.hanging-down .img-left-down ul li {
    width: 50%;
    height: 50%;
}

.hanging-down .img-left-down ul li img {
    width: 100%;
    height: 75%;
    object-fit: cover;
    object-position: bottom;
    text-align: center;
}

.hanging-down .img-left-down ul li h3 {
    margin-top: 4px;
    font-size: 25px;
    text-align: center;
}

.hanging-down .img-left-down ul li h4 {
    font-size: 20px;
    text-align: center;
    margin-top: 8px;
}


/* Sofa */

#sofa {
    width: 100%;
    height: 125vh;

}

#sofa .container {
    width: 100%;
    height: 100%;
}

#sofa .sofa-up {
    width: 100%;
    height: 20%;
    display: flex;
}

#sofa .sofa-up .sofa-up-right {
    width: 35%;
    display: flex;
    text-align: center;
    align-items: center;
    background-color: #284054;
    color: #fff;
    border-radius: 5px;
}

#sofa .sofa-up .sofa-up-right h4 {
    margin: 10px 10px;
    font-size: 25px;
    font-weight: 600;
}

#sofa .sofa-up .sofa-up-right h3 {
    margin: 10px 10px;
    font-size: 40px;
    font-weight: 700;
}

#sofa .sofa-up .sofa-up-right .sofa-up-right-des {
    margin: auto;
}

#sofa .sofa-up .sofa-up-left {
    width: 65%;
    display: flex;
}

#sofa .sofa-up .sofa-up-left .des-up-left-right {
    width: 65%;
    position: relative;
}

#sofa .sofa-up .sofa-up-left .des-up-left-right h2 {
    margin: 10px 10px;
    font-size: 40px;
    font-weight: 600;
}

#sofa .sofa-up .sofa-up-left .des-up-left-right p {
    margin: 10px 10px;
    font-size: 25px;
}

#sofa .sofa-up .sofa-up-left .des-up-left-right a {
    text-decoration: none;
    color: #fff;
    padding: 10px;
    background-color: #284054;
    position: absolute;
    top: 50%;
    left: 10%;
    border-radius: 5px;
    margin-top: 20px;
}

#sofa .sofa-up .sofa-up-left .des-up-left-left {
    width: 30%;
}

#sofa .sofa-up .sofa-up-left .img-up-left-left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#sofa .sofa-down {
    width: 100%;
    height: 80%;
    display: flex;
}

#sofa .sofa-down .sofa-down-right {
    width: 35%;
    height: 100%;
}

#sofa .sofa-down .sofa-down-right ul {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

#sofa .sofa-down .sofa-down-right ul li {
    width: 50%;
    height: 38%;
    text-align: center;


}

#sofa .sofa-down .sofa-down-right ul li h2 {
    font-size: 28px;
    text-align: center;
    margin-top: 7px;

}

#sofa .sofa-down .sofa-down-right ul li p {
    font-size: 20px;
    text-align: center;
    margin-top: 5px;
}

#sofa .sofa-down .sofa-down-right ul li img {
    width: 60%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}


#sofa .sofa-down .sofa-down-left {
    width: 65%;
    height: 100%;
}

#sofa .sofa-down .sofa-down-left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;

}

/* Counter */

#counter {
    width: 100%;
    height: fit-content;
    background-color: #73a1d0;
    padding: 5% 0;
}

#counter .container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}

#counter .counters-item {
    text-align: center;
    margin: 25px 5px;
}

#counter .counters-item svg {
    font-size: 60px;
    margin-bottom: 10px;

}

#counter .counters-item span {
    display: block;
    margin-bottom: 5px;
    font-size: 25px;
    font-weight: 800;
}

#counter .counters-item h4 {
    font-size: 30px;
    font-weight: 700;
}

/* Footer */

footer {
    width: 100%;
    height: fit-content;
    background-color: #212121;
    padding: 5% 0;
}

footer .container {
    width: 85%;
    height: 100%;
    margin: auto
}

footer .contact-us {
    width: 100%;
    text-align: center;
}

footer .contact-us h2 {
    font-size: xx-large;
    font-family: "arial";
    font-weight: 700;
    color: white;
}

footer .contact-us ul {
    margin: 2% 1%;
    display: flex;
    justify-content: center;

}

footer .contact-us ul li {
    margin: 8px;
    font-size: 23px;
}

footer .contact-us ul li a {
    text-decoration: none;
    color: white;
}

footer .footer-des {
    padding-top: 2%;
    width: 60%;
    color: white;
    text-align: center;
    border-top: solid 1px black;
    margin: auto;
}

footer .footer-des p {
    width: 100%;
    margin: auto;
    line-height: 23px;
}


.click-back {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.5);
}