/* Header */


@media screen and (max-width : 1010px) {
    header .slider .slider-description {
        left: 10%;
        top: 25%;
    }

    .slider-description h1 {
        font-size: 80px;
    }

    .slider-description h2 {
        font-size: 25px;

    }

    .slider span {
        left: 20%;
        top: 17%;
    }

}

@media screen and (max-width : 700px) {
    header .slider .slider-description {
        left: 5%;
        top: 25%;
    }

    .slider span {
        left: 15%;
        top: 17%;
    }

}


@media screen and (max-width : 670px) {
    header nav .nav-right ul {
        display: none;
    }

    header nav .nav-right .hambur-icon {
        display: block;
        cursor: pointer;
    }
}

@media screen and (max-width : 615px) {
    header .slider .slider-description {
        left: 10%;
        top: 25%;
    }

    .slider-description h1 {
        font-size: 60px;
    }

    .slider-description h2 {
        font-size: 25px;

    }

    .slider span {
        font-size: 90px;
        left: 20%;
        top: 17%;
    }
}

@media screen and (max-width : 560px) {
    .slider-description h1 {
        margin-right: 4vw;
    }

    header .slider .slider-description {
        left: 10%;
        top: 15%;
    }

    .slider-description h2 {
        font-size: 25px;

    }

    .slider span {
        font-size: 90px;
        left: 15%;
        top: 10%;
    }


}

@media screen and (max-width : 460px) {
    .slider-description h1 {
        margin-right: 4vw;
    }

    header .slider .slider-description {
        left: 10%;
        top: 8%;
    }

    .slider-description h2 {
        font-size: 25px;

    }

    .slider span {
        font-size: 90px;
        left: 45%;
        top: 6%;
    }


}

@media screen and (max-width : 350px) {
    .slider-description h1 {
        margin-right: 4vw;
    }

    header .slider .slider-description {
        left: 10%;
        top: 5%;
    }

    .slider-description h2 {
        font-size: 25px;

    }

    .slider span {
        font-size: 70px;
        left: 25%;
        top: 3%;
    }

}

/* Heading Lamp */
@media screen and (max-width : 1020px) {
    #hanging-lamp .hanging-top .hang-right .hang-des-right h3 {
        font-size: 30px;
    }

    #hanging-lamp .hanging-top .hang-right .hang-des-right p {
        font-size: 15px;
    }

    #hanging-lamp .hanging-top .hang-left h3 {
        font-size: 30px;
    }

    #hanging-lamp .hanging-top .hang-left p {
        font-size: 30px;
    }

    #hanging-lamp .hanging-top .hang-right .hang-des-right {
        width: 50%;
        height: 100%;
    }

    #hanging-lamp .hanging-top .hang-right .hang-pic-right {
        width: 50%;
        height: 100%;
    }

    .hanging-down .img-left-down ul li h3 {
        font-size: 20px;
    }

    .hanging-down .img-left-down ul li h4 {
        font-size: 15px;
    }

    #hanging-lamp .hanging-top {
        height: 20%;
    }

    #hanging-lamp .hanging-down {
        height: 80%;
    }
}

@media screen and (max-width : 625px) {
    .hanging-down .img-left-down ul li h3 {
        font-size: 18px;
    }

    .hanging-down .img-left-down ul li h4 {
        font-size: 13px;
    }

    #hanging-lamp .hanging-top .hang-right .hang-des-right a {
        padding: 8px;
        font-size: 13px;

    }

}

@media screen and (max-width : 555px) {
    #hanging-lamp .hanging-top .hang-right .hang-des-right h3 {
        font-size: 20px;
    }

    #hanging-lamp .hanging-top .hang-right .hang-des-right p {
        font-size: 10px;
    }

    #hanging-lamp .hanging-top .hang-left h3 {
        font-size: 20px;
    }

    #hanging-lamp .hanging-top .hang-left p {
        font-size: 20px;
    }


    .hanging-down .img-left-down ul li h3 {
        font-size: 15px;
    }

    .hanging-down .img-left-down ul li h4 {
        font-size: 10px;
    }

    #hanging-lamp .hanging-top {
        height: 15%;
    }

    #hanging-lamp .hanging-down {
        height: 85%;
    }

}

@media screen and (max-width : 490px) {
    .hanging-down .img-left-down ul {
        flex-wrap: nowrap;
    }

    .hanging-down {
        display: block;
    }


    .hanging-down .img-right-down {
        width: 100%;
        height: 40%;
    }

    .hanging-down .img-left-down {
        width: 100%;
        height: 60%;
    }

    .hanging-down .img-left-down ul li {
        width: 25%;
        height: 100%;
    }

    #hanging-lamp .hanging-top .hang-left {
        width: 100%;
        height: 30%;
    }

    #hanging-lamp .hanging-top {
        margin-bottom: 1px;
    }

    #hanging-lamp .hanging-top .hang-right {
        height: 70%;
        width: 100%;
    }

    #hanging-lamp .hanging-top {
        display: block;
    }

    #hanging-lamp .hanging-top {
        height: 20%;
    }

    #hanging-lamp .hanging-down {
        height: 80%;
    }

    #hanging-lamp .hanging-top .hang-left .hang-des-left {
        display: flex;
    }
}

/* Sofa */

@media screen and (max-width : 1020px) {
    #sofa .sofa-up .sofa-up-left .des-up-left-right h2 {
        font-size: 30px;
    }

    #sofa .sofa-up .sofa-up-left .des-up-left-right p {
        font-size: 15px;
    }

    #sofa .sofa-up .sofa-up-right h4 {
        font-size: 30px;
    }

    #sofa .sofa-up .sofa-up-right h3 {
        font-size: 30px;
    }

    #sofa .sofa-up .sofa-up-left .des-up-left-right {
        width: 50%;
        height: 100%;
    }

    #sofa .sofa-up .sofa-up-left .img-up-left-left {
        width: 50%;
        height: 100%;
    }

    #sofa .sofa-down .sofa-down-right ul li h2 {
        font-size: 20px;
    }

    #sofa .sofa-down .sofa-down-right ul li p {
        font-size: 15px;
    }

    #sofa .sofa-up {
        height: 20%;
    }

    #sofa .sofa-down {
        height: 80%;
    }
}

@media screen and (max-width : 1000px) {
    #sofa .sofa-down .sofa-down-right ul li img {
        width: 70%;
        height: 100%;
    }

}

@media screen and (max-width : 830px) {
    #sofa .sofa-down .sofa-down-right ul li img {
        width: 80%;
        height: 100%;
    }

}

@media screen and (max-width : 750px) {
    #sofa .sofa-down .sofa-down-right ul li img {
        width: 90%;
        height: 100%;
    }

}

@media screen and (max-width : 625px) {
    #sofa .sofa-down .sofa-down-right ul li h2 {
        font-size: 18px;
    }

    #sofa .sofa-down .sofa-down-right ul li p {
        font-size: 13px;
    }

    #sofa .sofa-up .sofa-up-left .des-up-left-right a {
        padding: 8px;
        font-size: 13px;

    }

}

@media screen and (max-width : 555px) {
    #sofa .sofa-up .sofa-up-left .des-up-left-right h2 {
        font-size: 20px;
    }

    #sofa .sofa-up .sofa-up-left .des-up-left-right p {
        font-size: 10px;
    }

    #sofa .sofa-up .sofa-up-right h4 {
        font-size: 20px;
    }

    #sofa .sofa-up .sofa-up-right h3 {
        font-size: 20px;
    }


    #sofa .sofa-down .sofa-down-right ul li h2 {
        font-size: 15px;
    }

    #sofa .sofa-down .sofa-down-right ul li p {
        font-size: 10px;
    }

    #sofa .sofa-up {
        height: 15%;
    }

    #sofa .sofa-down {
        height: 85%;
    }

}

@media screen and (max-width : 540px) {
    #sofa .sofa-down .sofa-down-right ul {
        flex-wrap: nowrap;
    }


    #sofa .sofa-down .sofa-down-left {
        width: 100%;
        height: 50%;
    }

    #sofa .sofa-down .sofa-down-right {
        width: 100%;
        height: 50%;
    }

    #sofa .sofa-down .sofa-down-right ul li {
        width: 25%;
        height: 100%;
    }

    #sofa .sofa-up .sofa-up-right {
        width: 100%;
        height: 30%;
    }

    #sofa .sofa-up {
        margin-bottom: 1px;
    }

    #sofa .sofa-up .sofa-up-left {
        height: 70%;
        width: 100%;
    }

    #sofa .sofa-up {
        display: block;
    }

    #sofa .sofa-up {
        height: 20%;
    }

    #sofa .sofa-down {
        height: 80%;
        display: block;
    }

    #sofa .sofa-up .sofa-up-right .sofa-up-right-des {
        display: flex;
    }

    #sofa .sofa-down .sofa-down-right ul li img {
        width: 100%;
        height: 65%;
    }
}

/* Counter */

@media screen and (max-width : 430px) {

    #counter .counters-item svg {
        font-size: 40px;

    }

    #counter .counters-item span {
        font-size: 18px;

    }

    #counter .counters-item h4 {
        font-size: 20px;
    }
}

/* Footer */
@media screen and (max-width : 500px) {
    footer .contact-us h2 {
        font-size: large;
    }

    footer .contact-us ul li {
        font-size: 15px;
    }

    footer .footer-des {
        width: 85%;
    }

}

@media screen and (max-width : 420px) {
    footer .contact-us h2 {
        font-size: large;
    }

    footer .contact-us ul li {
        font-size: 15px;
    }

    footer .footer-des {
        width: 85%;
        font-size: 14px;
    }

}

@media screen and (max-height : 500px) {
    #sofa {
        width: 100%;
        height: 210vh;

    }

    #hanging-lamp {
        width: 100%;
        height: 190vh;
    }

}